.post {
   display: grid;
   grid-template-rows: 80px auto;
   grid-template-columns: 80px auto;
   grid-template-areas:
      "picture body"
      "null body";
   width: 100%;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.post:first-child {
   border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.post__userpicture {
   grid-area: picture;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
   border: 1px solid rgba(0, 0, 0, 0.2);
   margin: 10px;
}
.post__userpicture img {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.post__body {
   grid-area: body;
   display: flex;
   flex-direction: column;
}
.post__text {
   max-width: 100%;
   font-size: 20px;
   margin: 24px 20px 10px 0;
   display: block;
}
.post__activity {
   display: flex;
   padding: 0 0 10px 10px;
}
.post__like,
.post__dislike {
   margin: 0px 10px 0px 0px;
   font-size: 16px;
   color: rgba(0, 0, 0, 0.75);
}
.post__like img,
.post__dislike img {
   height: 16px;
   width: 16px;
   margin: 0 4px 0 0;
}
.post__dislike img {
   transform: scale(-1, -1) translate(0, -3px);
}
