.dialogs {
   height: 100%;
   width: 100%;
   background-color: #fff;
   border-radius: 20px;
   overflow: hidden;
   display: grid;
   grid-template-rows: 50px 50px auto 50px;
   grid-template-columns: 4fr 8fr;
   grid-template-areas: "title name" "search messages" "list messages" "list send";
   box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
}
.dialogs__list,
.dialogs__title,
.dialogs__search {
   position: relative;
   border-right: 1px solid rgba(0, 0, 0, 0.1);
   box-shadow: 1px 0 8px 0px rgba(0, 0, 0, 0.08);
   z-index: 2;
}
.dialogs__list {
   width: 100%;
   height: 100%;
   grid-area: list;
   background-color: #fff;
   overflow: auto;
}
.dialogs__title {
   grid-area: title;
   background-color: #e8e8e8;
   display: flex;
   align-items: center;
   padding: 0 0 0 20px;
   font-size: 24px;
   color: #002f2f;
   z-index: 3;
}
.dialogs__search {
   grid-area: search;
   background-color: #f6f6f6;
   position: relative;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.dialogs__search form {
   width: 90%;
   height: 100%;
   display: flex;
   align-items: center;
   margin: 0 auto;
}
.dialogs__loupe,
.dialogs__input {
   height: 30px;
   background-color: #fff;
   z-index: 3;
}
.dialogs__input:focus ~ .whitePlank {
   transform: scale(1);
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.whitePlank {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #fff;
   transform: scale(0);
   z-index: 2;
   transition: transform 0.25s ease 0s;
}
.dialogs__loupe {
   width: 15%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 15px 0 0 15px;
}
.dialogs__input {
   width: 95%;
   border-radius: 0 15px 15px 0;
   font-size: 16px;
}
.dialogs__loupe img {
   height: 16px;
}
.dialogs__name {
   grid-area: name;
   background-color: #ededed;
   display: flex;
   align-items: center;
   padding: 0 0 0 12px;
}
.dialogs__currentpicture {
   flex: 0 0 35px;
   height: 35px;
   border-radius: 50%;
   position: relative;
   overflow: hidden;
   border: 1px solid rgba(0, 0, 0, 0.2);
}
.dialogs__currentpicture img {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.dialogs__currentinfo {
   padding: 0 0 0 10px;
   display: flex;
   flex-direction: column;
}
.dialogs__currentname {
   font-size: 18px;
}
.dialogs__currentstatus {
   font-size: 10px;
   font-weight: 500;
   color: seagreen;
   margin: 0 0 0 6px;
}
.dialogs__messagesarea {
   grid-area: messages;
   background-color: #e5ddd5;
   display: flex;
   flex-direction: column;
}

.dialogs__sendmessage {
   grid-area: send;
   background-color: #f0f0f0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
}
.dialogs__sendmessage form {
   height: 100%;
   width: 90%;
   display: flex;
   align-items: center;
   margin: 0 auto;
}
.dialogs__input_message {
   width: 90%;
   background-color: #fff;
   height: 30px;
   border-radius: 15px;
   padding: 3px 20px 0 20px;
   resize: none;
}
.dialogs__sendbutton,
.dialogs__smile {
   width: 10%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.dialogs__sendbutton img {
   height: 30px;
}
.dialogs__smile img {
   height: 30px;
}
